body{
    font-family: "Lato", sans-serif;
    font-weight: 400;

}
h1 {
    
    font-weight: 400;
}

header {
    text-align: center;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a:hover {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: black;
}